@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;

.page {
  height: 100%;
  position: relative;
}

.page__body {
  .centered ();
  .stiky-footer ();
  width: @mobile-width;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
  font-weight: 400;
}

.centered {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.stiky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

img {
  display: block;
  margin: 0;
}

svg {
  display: block;
  margin: 0;
}

.button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: @basic-white;
  background-color: @primary-color;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-style-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
