@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;

// * {
//   outline: 1px solid #ff6347;
// }

* {
  box-sizing: border-box;
}

.page {
  height: 100%;
  position: relative;
  font-family: "Lato", "Oswald", "Arial", sans-serif;
}

.page__body {
  .centered ();
  .stiky-footer ();
  font-weight: 400;
  overflow-x: hidden;
  letter-spacing: 0;
}

.centered {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.stiky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

img {
  display: block;
  margin: 0;
}

svg {
  display: block;
  margin: 0;
}

.button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: @basic-white;
  background-color: @primary-color;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 10px;
  text-align: center;

  &:hover,
  &:focus {
    background-color: darken(@primary-color, 3%);
  }

  &:active {
    color: rgba(255, 255, 255, 0.6);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-style-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 108%;
  font-weight: 400;
  color: @basic-black;
  position: relative;
  display: flex;
  width: max-content;
  background-color: @basic-white;
  margin: 0 -20px;
  padding: 0 20px;
  transform-style: preserve-3d;

  @media (min-width: @tablet-width) {
    margin: 0 -40px;
    padding: 0 40px;
    font-size: 36px;
    line-height: 100%;

    br {
      display: none;
    }
  }
}

.section-title--line::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: @primary-color;
  width: calc(100vw - 40px);
  left: 40px;
  top: 15px;
  transform: translateZ(-1px);
  text-wrap: balance;

  @media (min-width: @tablet-width) {
    width: 100vw;
    left: -30px;
    top: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 100vw;
    left: -70px;
    top: 21px;
  }
}
