.catalog__list {
  list-style-type: none;
  margin: 0;
  margin-top: 41px;
  padding: 0;
}

.catalog__item {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.product-card {
  padding: 20px;
  padding-bottom: 25px;
}

.product-card__card-wrapper {
  display: flex;
  margin-bottom: 17px;
}

.product-card__image-wrapper {
  width: 140px;
  position: relative;
}

.product-card__image {
  .centered ();
  margin: auto;
}

.product-card__info-wrapper {
  width: 140px;
}

.product-card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  max-width: 80px;
  margin-top: 0;
  margin-bottom: 14px;
}

.product-card__info {
  margin: 0;
  margin-bottom: 4px;
}

.product-card__info-item {
  display: flex;
  justify-content: space-between;
}

.product-card__info-description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}

.product-card__button {
  display: block;
  width: 100%;
  text-align: center;
}
