.catalog-additional {
  padding: 20px;
  padding-top: 24px;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding: 0 30px 75px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px 87px;
  }
}

.catalog-additional__wrapper {
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    margin-top: 80px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    margin-top: 80px;
  }
}

.catalog-additional__item-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;
  }
}

.catalog-additional__section-title {
  line-height: 100%;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    border: none;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 -40px;
  }
}

.catalog-additional__list {
  padding: 0;
  margin: 0;

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.catalog-additional__item {
  .list-style-reset ();
  padding-top: 13px;
  padding-bottom: 18px;
  border-bottom: 1px solid @special-grey;

  &:first-child {
    border-top: 1px solid @special-grey;
  }

  @media (min-width: @tablet-width) {
    padding: 26px 38px 27px;
    border: 1px solid @special-grey;

    &:not(:first-child) {
      border-top: none;
    }
  }

  @media (min-width: @desktop-width) {
    border-left: none;
    border-right: none;
    padding: 14px 0 17px;
    padding-left: 1px;
    display: flex;

    &:not(:first-child) {
      border-top: none;
    }
  }
}

.catalog-additional__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: @special-dark-grey-2;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 20px;
  }
}

.catalog-additional__options-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    margin-bottom: -3px;
  }

  @media (min-width: @desktop-width) {
    width: 285px;
    margin-right: 40px;
  }
}


.catalog-additional__options {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: @special-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 125%;
  }
}

.catalog-additional__options--price {
  @media (min-width: @tablet-width) and (max-width: (@desktop-width - 1px)) {
    padding-left: 50px;
  }
}

.catalog-additional__button {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  line-height: 125%;

  @media (min-width: @tablet-width) {
    margin-top: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    min-width: 244px;
  }
}
