.catalog {
  margin-top: 41px;

  @media (min-width: @tablet-width) {
    margin-top: 165px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 76px;
  }
}

.catalog__list {
  .list-style-reset ();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 141px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 144px;
  }
}

.catalog__item {
  &:first-child {
    border-top: 1px solid @border-color;
  }
  border-bottom: 1px solid @border-color;

  @media (min-width: @tablet-width) {
    &:first-child {
      border-top: none;
    }
    border-bottom: none;
    background-color: @basic-grey;
  }
}
