.catalog-additional {
  padding: 20px;
  padding-bottom: 18px;
}

.section-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.catalog-additional__section-title {
  line-height: 24px;
  border-bottom: 1px solid #cdcdcd;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 35px;
}

.catalog-additional__list {
  padding: 0;
  margin: 0;
}

.catalog-additional__item {
  list-style-type: none;
  padding-top: 13px;
  padding-bottom: 18px;
  border-bottom: 1px solid #cdcdcd;
}

.catalog-additional__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.catalog-additional__options {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #444444;
}

.catalog-additional__options-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-additional__button {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  line-height: 20px;
}

.promo {
  position: relative;
  background-image: url("../../img/promo-background_mobile.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 35px;
}

.promo__image {
  padding-top: 56px;
  padding-bottom: 46px;
  padding-left: 100px;
  padding-right: 100px;
}

.promo__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-left: 58px;
  padding-right: 61px;
  padding-bottom: 40px;
}

.contacts__location--darken-background {
  background-color: #f2f2f2;
}
