.contacts__location {
  display: flex;
  padding: 26px 20px;
}

.contacts__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: @special-dark-grey-3;
  margin: 0;
}

.contacts__address {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 143%;
  color: @special-dark-grey;
  margin: 0;
  font-style: normal;
}
