.form__field {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  border: none;
  margin: 0 -20px;
  padding: 0 20px;
  border-bottom: 1px solid @special-grey-2;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    padding: 0;
    margin: 0;
    row-gap: 20px;
  }
}

.form__label {
  display: flex;
  flex-direction: row;
  column-gap: 13px;
  position: relative;
}

.form__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 113%;
  text-transform: uppercase;
  color: @special-dark-grey;
  align-self: center;
  white-space: nowrap;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 150%;
  }
}

.form__input {
  outline: 1px solid @special-grey-4;
  border: none;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 13px;
  padding-left: 15px;

  @media (min-width: @tablet-width) {
    padding: 11px;
    padding-left: 20px;
  }

  &:hover {
    outline: 1px solid @special-grey;
  }

  &:focus {
    outline: 2px solid @special-dark-grey;
  }
}

.form__input[type="email"] {
  padding-right: 40px;
}


.form__input[type="tel"] {
  padding-right: 40px;
}

.form__program-field {
  padding-top: 22px;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    padding: 23px 27px 27px;
    border: 1px solid @special-grey-4;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    padding: 25px 28px;
  }
}

.form__textarea-input {
  border: 1px solid @special-grey-4;
  padding: 14px;
  width: 100%;
  white-space: wrap;
}

.form-list {
  margin: 0;
  padding: 0;
}

.form-list__item {
  .list-style-reset ();
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.form__contacts-field {
  border: none;
  padding: 0;
  margin: 0;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__additional-field {
  padding: 0;
  margin: 0;
  border: none;
}

.form__additional-list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.form__button {
  border: none;
  font-size: 16px;
  line-height: 125%;
  width: 100%;
}

.form__head-container {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding-top: 66px;
    padding-bottom: 70px;
  }
}

.form__field-container--cat-parameters {
  padding-top: 39px;

  @media (min-width: @tablet-width) {
    padding-top: 66px;
    padding-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.form__field-container--programm {
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.form__field-container--owner-data {
  padding-top: 35px;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    padding-top: 76px;
    padding-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 70px;
  }
}

.form__field-container--comment {
  padding-top: 38px;
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    padding-top: 87px;
    padding-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 78px;
    padding-bottom: 70px;
  }
}

.form__field-container--additional {
  padding-top: 34px;
  padding-bottom: 34px;

  @media (min-width: @tablet-width) {
    padding-top: 57px;
    padding-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 60px;
  }
}

.form__button-container {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__radio-mark {
  width: 30px;
  height: 30px;
  border: 1px solid @special-grey;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__radio-input:hover + .form__radio-mark {
  border-color: #bababa;
}

.form__radio-input:checked + .form__radio-mark::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 8.5px;
  left: 8.5px;
  border-radius: 50%;
  background-color: @primary-color;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
    top: 11px;
    left: 11px;
  }
}

.form__radio-input:disabled + .form__radio-mark,
.form__radio-input:disabled ~ .form__radio-text {
  opacity: 0.3;
}

.form-list__label {
  display: flex;
  column-gap: 15px;
  position: relative;

  @media (min-width: @tablet-width) {
    column-gap: 20px;
  }
}

.form-list__mark {
  width: 30px;
  height: 30px;
  display: block;
  border: 1px solid @special-grey;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form-list__input:checked + .form-list__mark::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 15px;
  top: 7px;
  left: 5.5px;
  background-image: url("../img/input_cheked.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    scale: 1.33;
    top: 13px;
    left: 11px;
  }
}

.form-list__input:disabled + .form-list__mark,
.form-list__input:disabled ~ .form-list__text {
  opacity: 0.3;
}

.form-input-icon {
  border: @basic-black;
  position: absolute;
  top: 15px;
  right: 17.5px;

  @media (min-width: @tablet-width) {
    top: 19.5px;
  }
}

.form__input.form__input--valid + .form-input-icon {
  stroke: @primary-color;
}

.form__input.form__input--invalid,
.form__input.form__input--invalid + .form-input-icon {
  outline-color: #ff8282;
  stroke: #ff8282;
}
