.hero__description {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.hero__slogan {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.hero__main-button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.hero__wrapper--with-background {
  background-color: rgba(104, 183, 56, 0.85);
}

.hero__background-image {
  display: block;
  margin: 0;
  position: relative;
  z-index: -1;
}

.hero__image {
  position: relative;
  z-index: 1;
}
