.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.hero__description {
  text-align: center;
  color: @basic-white;
  padding-top: 27px;
  padding-bottom: 25px;
  margin: 0;
  position: relative;
  z-index: 1;
}

.hero__slogan {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: @basic-white;
  margin: 0;
  padding-bottom: 29px;
  position: relative;
  z-index: 1;
}

.hero__main-button {
  font-size: 16px;
  line-height: 125%;
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
}

.hero__wrapper--with-background {
  background-color: rgba(104, 183, 56, 0.85);
  position: absolute;
  top: 0;
}

.hero__background-image {
  display: block;
  margin: 0;
  position: relative;
  z-index: -1;
}

.hero__image {
  position: relative;
  z-index: 1;
}
