.logo {
  padding-bottom: 15px;
  padding-top: 13px;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
}

.logo__icon {
  text-decoration: none;
  display: flex;
}

.logo__text {
  display: block;
}

.logo__icon-text {
  margin-left: 56px;
  align-self: center;
}

.logo__description {
  display: block;
}

.social__svg {
  display: block;
}
