.main-header {
  z-index: 1;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 708px;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 34px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin-top: 55px;
    margin-left: 110px;
    margin-right: 110px;
    justify-content: space-between;
  }
}

.main-header__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
