.main-header {
  position: relative;
  z-index: 2;


  @media (min-width: @tablet-width) {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 34px;

    &--form {
      margin-right: 30px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 55px;
    margin-left: 110px;
    margin-right: 110px;
    justify-content: space-between;

    &--form {
      margin-top: 59px;
    }
  }
}

.main-header__toggle {
  display: block;
  position: relative;
  cursor: pointer;
  width: 34px;
  height: 38px;
  padding: 0;
  border: none;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__toggle--opened {
  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: @basic-black;
    top: 17px;
    left: 10px;
    rotate: 45deg;
  }

  &::before {
    rotate: -45deg;
  }
}

.main-header__toggle--closed {
  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: @basic-black;
    box-shadow: 0 8px 0 0 @basic-black, 0 16px 0 0 @basic-black;
    top: 9px;
    left: 10px;
  }
}

.main-header__toggle--nojs {
  display: none;
}
