.product-card {
  padding: 20px;
  padding-bottom: 25px;
}

.product-card__card-wrapper {
  display: flex;
  margin-bottom: 17px;
}

.product-card__image-wrapper {
  width: 140px;
  position: relative;
}

.product-card__image {
  .centered ();
  margin: auto;
}

.product-card__info-wrapper {
  width: 140px;
}

.product-card__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-dark-grey-2;
  max-width: 80px;
  margin-top: 0;
  margin-bottom: 14px;
}

.product-card__info {
  margin: 0;
  margin-bottom: 4px;
}

.product-card__info-item {
  display: flex;
  justify-content: space-between;
}

.product-card__info-description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @special-dark-grey;
}

.product-card__button {
  width: 280px;
  font-size: 16px;
  line-height: 125%;
}
