.selection-form-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 32px;
}

.selection-form-container__title {
  text-align: start;
}

.selection-form-container__text {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 129%;
  text-transform: uppercase;
  color: @basic-black;
  margin-top: 37px;
  margin-bottom: 39px;
  margin-right: 54px;
}

.section-form-title {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 35px;
  font-weight: 400;
}

.selection-form-container__legend {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  color: @basic-black;
  margin: 0;
  margin-top: 20px;
}
