.slider {
  @media (min-width: @tablet-width) {
    display: flex;
    // направление на время, пока не сделаю слайдер
    flex-direction: column;
    background-color: @special-grey-3;
  }

  @media (min-width: @desktop-width) {
    background-color: none;
  }
}
