.social__list {
  display: flex;
  margin: 0;
  padding: 20px 74px;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 132px;
    padding: 8px 0;
  }
}

.social__item {
  list-style-type: none;
}

.social__link:focus {
  .social__svg {
    color: @primary-color;
  }
}

.social__svg {
  display: block;
  color: #666666;

  &:hover,
  &:focus {
    color: @primary-color;
  }

  &:active {
    opacity: 0.3;
  }
}
